<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>VerlofVerzoek geaccepteerd</title>
</head>
<body style="font-family:Verdana; font-size: 12px; color: #000;">
    <p>
        Geachte heer, mevrouw,
        <br /><br />
        Het volgende verzoek is geaccepteerd door uw manager:
        <br />
        Reden:<br/>
        <!--Reason--><br/><br />
        In de periode van:<br />
        <!--BeginDate--> t/m <!--EndDate-->
        <br/><br/>
        Begintijd:<br />
        <!--BeginTime--><br /><br />
        Eindtijd:<br />
        <!--EndTime--><br /><br />
        Hele dagen vrij:<br />
        <!--TotalDays--><br /><br /> 
        Gelieve de bijgevoegde agenda uitnodiging toe te voegen aan uw agenda!<br /><br />
        Met vriendelijke groet,
        <br /><br/>
        VerlofVerzoekVerwerker
    </p>
</body>
</html>